{% extends 'main/shapka.html' %}

{% block title %}Обращение{% endblock %}

{% block content %}
      <h1>Обратная связь</h1>

      <section class="contacts">
            <form action="https://api.web3forms.com/submit" method="POST">

                  <input type="hidden" name="access_key" value="0e990853-540e-43ed-a2da-e23ca62f8a57">

                  <span>Ваше имя</span>
                  <input type="name" name="Имя" id="" class="box" autocomplete="off">

                  <span>Текст сообщения</span>
                  <input type="text" name="Текст" id="" class="box" autocomplete="off">

                  <span>Электронная почта</span>
                  <input type="email" name="Почта" id="" class="box" autocomplete="off">

                  <span>Телефон</span>
                  <input type="" name="Телефон" id="" class="box" autocomplete="off">

                  <span>Выберите тему</span>
                  <select name="Тема обращения" id="" class="box" required>
                        <option value="" disabled selected></option>
                        <option value="Обратиться к заведующему">Обратиться к заведующему</option>
                        <option value="Отправить резюме">Отправить резюме</option>
                        <option value="Вопросы по питанию">Вопросы по питанию</option>
                        <option value="Обратиться к психологу">Обратиться к психологу</option>
                  </select>

                  <input type="submit" value="Отправить" class="btn" name="Статус">
            </form>
      </section>
{% endblock %}